.world-around-text {
	display: flex;
	height: calc(100vh - 75px);
	overflow: hidden;
	h1 {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		font-size: 10vmin;
		line-height: 1;
		text-align: center;
		visibility: hidden;
		span:nth-child(1) {
			font-family: monospace;
			font-size: 14vmin;
			span {
				position: relative;
				top: 0.05em;
				font-size: 17vmin;
				color: #79b51c;
				font-style: italic;
			}
		}
		span:nth-child(2) {
			font-style: italic;
			opacity: 0.9;
		}
	}
}
