.scroll-trigger {
	overflow: hidden;
	background-color: white;
	&__section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		padding: 2.5rem;
		padding-top: 76px;
		font-size: 2.5rem;
		font-weight: 700;
		text-align: center;
		color: black;
		background-color: white;
		@media (max-width: 767px) {
			font-size: 1.5rem;
		}
		p:not(:last-child) {
			margin-bottom: 1.5rem;
		}
		&._first {
			height: calc(100vh - 76px);
			font-size: 16vmin;
			color: #ccc;
			background-color: #263238;
			text-transform: capitalize;
		}
		&._last {
			color: #ccc;
			background-color: #263238;
		}
		&._text {
			p {
				width: 80%;
				text-align: left;
			}
			font-size: 2rem;
			font-weight: 400;
			@media (max-width: 767px) {
				p {
					width: auto;
					font-size: 1.2rem;
				}
			}
		}
		&._car {
			align-items: flex-start;
			.svg-wrapper {
				width: 35vmin;
			}
		}
		&._ad {
			> * {
				visibility: hidden;
			}
			.logo p {
				box-sizing: border-box;
				font-size: 7vmin;
				line-height: 1.5;
				font-weight: 700;
				color: white;
				background: #f39;
			}
			.text {
				margin-top: 0.5rem;
				overflow: hidden;
				font-size: 3vmin;
				text-align: center;
			}
		}
		&._basic-parallax {
			position: relative;
			padding: 0;
			background-color: #263238;
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(1.3);
				&.foreground {
					top: 0.5%;
				}
			}
			.text {
				position: absolute;
				top: 5%;
				left: 0;
				width: 100%;
				font-family: system-ui;
				font-size: 20vmin;
				font-weight: 300;
				letter-spacing: 0.06em;
				text-transform: lowercase;
				color: #9999cb;
			}
		}
		&._car-parallax {
			.svg-wrapper {
				width: 50vmin;
			}
		}
		&._car-ad-parallax {
			position: relative;
			min-height: 70vmin;
			overflow: hidden;
			.background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				filter: brightness(1);
			}
			.foreground {
				position: absolute;
				top: 5%;
				left: 2.5%;
				text-align: left;
				color: white;
				text-shadow: 3px 3px 6px black;
				p {
					margin: 0;
				}
			}
			&._gti {
				.background {
					background-image: url('/assets/images/scroll-trigger/gti.webp');
				}
			}
			&._miata {
				.background {
					background-image: url('/assets/images/scroll-trigger/miata.webp');
				}
			}
			&._supra {
				.background {
					background-image: url('/assets/images/scroll-trigger/supra.webp');
				}
			}
			&._cayman {
				.background {
					background-image: url('/assets/images/scroll-trigger/cayman.webp');
				}
			}
		}
	}
	.svg-wrapper {
		svg {
			width: 100%;
			height: auto;
		}
	}
}
