.index {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	.header {
		visibility: hidden;
	}
}

.index-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 16px;
	overflow: hidden;
	h1 {
		font-size: 10rem;
		margin-bottom: 16px;
		visibility: hidden;
	}
	svg {
		transform: translateX(-30%);
		visibility: hidden;
	}
	@media (max-width: 565px) {
		h1 {
			font-size: 6rem;
		}
		svg {
			width: 200px;
			height: auto;
			transform: translateX(-10%);
		}
	}
}
